<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Alopex UI/UX 표준 Template 컨텐츠</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script src="/2.3/demo/UI-basic-template/script/app/biz/include-lib.js"></script>
	<script src="/2.3/demo/UI-basic-template/script/app/biz/alopex-common.js"></script>
</head>
<body class="Margin-0 Padding-0">
	<div class="Width-100">
		<!-- header -->
		<div class="Bg-primary">
			<div style="width: 1170px; height: 45px; margin: 0 auto">
				<div class="Grid-sm-12">
					<h1 class="Float-left Header-5"><a href="../main/ui-main-portal.html" class="Color-white Text-none">Alopex UI/UX 표준 Template</a></h1>
					<ul class="Float-right Navmenu" style="z-index:101">
					    <li><a href="../main/ui-main-portal.html">Main Sample</a>
					        <ul>
					            <li><a href="../main/ui-main-portal.html">Portal 형</a></li>
					            <li><a href="../main/ui-main-workspace.html">Workspace 형</a></li>
					        </ul>
					    </li>
					    <li><a href="basic1.html">Basic Template</a>
					        <ul>
					            <li><a href="basic1.html">Basic Type</a>
					            	<ul>
					            		<li><a href="basic1.html">1 Grid board</a></li>
					            		<li><a href="basic2.html">Grid/Table/Tab 복합형</a></li>
					            	</ul>
					            </li>
					            <li><a href="board1.html">게시판형</a>
					                <ul>
					                	<li><a href="board1.html">2 Grid board</a></li>
					                	<li><a href="board2.html">Grid/Table 복합형</a></li>
					                	<li><a href="board3.html">Grid/Table/Tree</a></li>
					                	<li><a href="board4.html">Form/Chart 복합형</a></li>
					                </ul>
					            </li>
					            <li><a href="table1.html">테이블형</a>
					            	<ul>
					            		<li><a href="table1.html">Table 내 Table</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="dialog1.html">Dialog &amp; Popup</a>
					            	<ul>
					            		<li><a href="dialog1.html">Dialog</a></li>
					            		<li><a href="popup1.html">Popup</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="contents.html">컨텐츠</a>
					            	<ul>
					            		<li><a href="contents.html">컨텐츠 리스트형</a></li>
					            	</ul>
					            </li>
					        </ul>
					    </li>
					    <li><a href="object1.html">Object Template</a>
					    	<ul>
					    		<li><a href="object1.html">Accordion Template</a></li>
					    		<li><a href="object2.html">Button Template</a></li>
					    		<li><a href="object3.html">Carousel</a></li>
					    		<li><a href="object4.html">Paging</a></li>
					    		<li><a href="object5.html">Progress bar</a></li>
					    	</ul>
					    </li>
					    <li><a href="layout1.html">Layout Template</a>
					    	<ul>
					    		<li><a href="layout1.html">UI Grid Layout</a></li>
					    		<li><a href="layout2.html">Search Box Template</a>
					    		<li><a href="layout3.html">LNB Template</a></li>
					    		<li><a href="layout4.html">Static Contents</a></li>
					    		<li><a href="layout5.html">Footer Template</a></li>
					    		<li><a href="layout6.html">Error Template</a></li>
					    	</ul>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //header -->
		<div class="Grid-wrapper">
			<h3 class="Header-4 Padding-bottom-10" style="border-bottom: 1px solid #d8d8d8">Contents Type : Form Table + Tab + Contents List + UI Paging</h3>
			<!-- Main Sample Start-->
			<div class="Grid-sm-12">
				<!-- left start -->
				<div class="Grid-sm-3">
					<div class="Margin-right-30">
						<ul class="Accordion">
					        <li><a href="basic1.html">Basic Type</a>
				            	<ul>
				            		<li><a href="basic1.html">1 Grid board</a></li>
				            		<li><a href="basic2.html">Grid/Table/Tab 복합형</a></li>
				            	</ul>
				            </li>
				            <li><a href="board1.html">게시판형</a>
				                <ul>
				                	<li><a href="board1.html">2 Grid board</a></li>
				                	<li><a href="board2.html">Grid/Table 복합형</a></li>
				                	<li><a href="board3.html">Grid/Table/Tree</a></li>
				                	<li><a href="board4.html">Form/Chart 복합형</a></li>
				                </ul>
				            </li>
				            <li><a href="table1.html">테이블형</a>
				            	<ul>
				            		<li><a href="table1.html">Table 내 Table</a></li>
				            	</ul>
				            </li>
				            <li>
				            	<a href="dialog1.html">Dialog &amp; Popup</a>
					            	<ul>
					            		<li><a href="dialog1.html">Dialog</a></li>
					            		<li><a href="popup1.html">Popup</a></li>
					            	</ul>
				            </li>
				            <li>
				            	<a href="contents.html">컨텐츠</a>
				            	<ul>
				            		<li><a href="contents.html">컨텐츠 리스트형</a></li>
				            	</ul>
				            </li>
					    </ul>
				    </div>
				</div>
				<!-- //left end -->
				<!-- contents template start -->
				<div class="Grid-sm-9">
					<div class="Padding-bottom-30 Margin-bottom-20" style="border-bottom: 1px solid #d8d8d8">
						<h4 class="Float-left Margin-0">Title Content</h4>
						<div class="Float-right"><button class="Button Typeb">Button 01</button><button class="Margin-left-10 Button Typeb">Button 02</button></div>
					</div>
					<div class="Table-wrapper">
				        <table class="Table Form-type">
				            <colgroup>
				                <col style="width:100px"/>
				                <col />
				                <col style="width:100px"/>
				                <col />
				                <col style="width:80px"/>
				            </colgroup>
				            <tbody>
				                <tr>
				                    <th>항목</th>
				                    <td><select class="Select"><option>옵션을 선택해주세요</option></select></td>
				                    <th><span class="Icon Exclamation-sign"></span><span class="Margin-left-5 Display-inblock">체크박스</span></th>
				                	<td><label class="ImageCheckbox">
										    <input class="Checkbox" type="checkbox" name="chk1" value = "check1" checked="checked">
										    Checked
										</label>
										<label class="ImageCheckbox">
										    <input class="Checkbox" type="checkbox" name="chk2" value = "check2">
										    Unchecked
										</label>
									</td>
				                    <th rowspan="3"><button class="Button Warning">검색</button><button class="Button Default Margin-top-5">삭제</button></th>
				                </tr>
				                <tr>
									<th>항목</th>
									<td><select class="Select Margin-right-5"><option>All</option></select><input class="Textinput"></td>
									<th>검색</th>
									<td><label class="ImageRadio">
										    <input class="Radio" name="radio2" value="value1">radio1
										</label>
										<label class="ImageRadio">
										    <input class="Radio" name="radio2" value="value1">radio1
										</label>
									</td>
				                </tr>
				                <tr>
				                	<th><span class="Color-danger Padding-right-5">*</span>검색조건</th>
				                	<td><div class="Daterange">
										    <div class="Startdate Dateinput">
										        <input>
										    </div>
										    ~
										    <div class="Enddate Dateinput">
										        <input>
										    </div>
										</div>
									</td>
				                	<th>검색조건</th>
				                	<td>
				                		<input class="Textinput Margin-right-5" placeholder="검색어를 입력하세요"><button class="Button Onlyicon"><span class="Icon Search" data-position="top"></span></button>
				                	</td>
				                </tr>
				            </tbody>
				        </table>
					</div>
					<div class="Margin-top-10 Font-default">
						<div class="Tabs">
						    <ul>
						        <li data-content="#tab1">tab1</li>
						        <li data-content="#tab2">tab2</li>
						        <li data-content="#tab3">tab3</li>
						    </ul>
						    <div id="tab1">
						        <!-- contents ui-paging start -->
						        <div class="Padding-bottom-30 Margin-bottom-20 Margin-top-10" style="border-bottom: 1px solid #d8d8d8">
									<h4 class="Float-left Margin-0">Contents title</h4>
									<div class="Float-right"><button class="Button">Button 01</button><button class="Margin-left-10 Button">Button 02</button></div>
								</div>
								<ul class="List-style-none Padding-0">
									<li>
										<p class="Display-inblock"><img src="../images/content-img4.png" alt=""></p>
										<dl class="Display-inblock Width-75 Margin-left-30">
											<dt class="Header-5 Margin-bottom-10"><span class="Label Success Margin-right-10 Valign-top">THEME STORY</span>지금은 '생각'에 몰입할 시간! 취하라,</dt>
											<dd class="Margin-0">언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 그대의 어깨를 짓누르고, 땅을 향해 그대 몸을 구부러뜨리는 저 시간의 무서
											언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 그대의 어깨를 짓누르고, 땅을 향해 그대 몸을 구부러뜨리는 저 시간의 무서언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 
											모든 것이 거기에 있다. 그것이 유일한 문제다.</dd>
											<dd class="Margin-0 Padding-top-5 Font-bold"><span class="Margin-right-20">글로벌 기획팀</span><span class="Margin-right-20">홍길동</span><span>2016.04.05</span></dd>
										</dl>
									</li>
									<li>
										<p class="Display-inblock"><img src="../images/content-img5.png" alt=""></p>
										<dl class="Display-inblock Width-75 Margin-left-30">
											<dt class="Header-5 Margin-bottom-10">자기주도적 역량 계발 프로그램, 지금은 MOOC 시대!!</dt>
											<dd class="Margin-0">SK주식회사 C&amp;C의 2016년 성장키워드, 'New ICT' 새로운 시대를 선도할 차별화된 IT기술은 이제 트랜드를 넘어 기업의 존속을 좌지우지하는 생존전략으로 자리잡고 있다.
											이와 같은 시대에 발맞춰 우리회사에서 진행되고 있는 NEW ICT 관련 온라인 전문 교육 프로그램 MOOC(Massive Open Online Course)!! 우리회사의 온라인 전문 교육을 통해 글로벌 수준으로
											역량을 끌어올리기 위한 구성원들의 열정적인 교육현장 속으로 떠나보자.</dd>
											<dd class="Margin-0 Padding-top-5 Font-bold"><span class="Margin-right-20">함께해요 C&amp;C</span><span class="Margin-right-20">고태호</span><span>2016.04.05</span></dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt class="Header-5 Margin-bottom-10">[알파고 모멘텀 인사이트 셰어링] 이세돌 VS 알파고 세기의 대결은 무엇을 남겼나?</dt>
											<dd class="Margin-0">근간 화게자 되었던 알파고의 바둑 대결로 잠들어 있던 인공지능분야가 알파고 신드롬으로 재조명되었다. 이에 힘입어 관련분야 저명 인사들이 모여 토론하는 자리에 참석하게 되었다.
											회사에서 지원하는 참석인원은 제한적이었지만 학부시절부터 관심이 있었던 터라 바쁜 와중에도 선뜻 발걸음을 했다. 마음 바쁘게 도착한 KT스퀘어 드림홀에서는 토론자로 참여한
											바둑 6단 출신 인공지능전문가 김찬우 에이아이바둑 대표의 신사업 성공 조건의 설파가 한창이었다.</dd>
											<dd class="Margin-0 Padding-top-5 Font-bold"><span class="Margin-right-20">웹플렛폼팀</span><span class="Margin-right-20">고태호</span><span>2016.04.05</span></dd>
										</dl>
									</li>
									<li>
										<dl class="Padding-top-10">
											<dt class="Header-5 Margin-bottom-10"><span class="Label Primary Margin-right-10 Valign-top">BIZ &amp; Tech</span>지금은 '생각'에 몰입할 시간! 취하라,</dt>
											<dd class="Margin-0">언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 그대의 어깨를 짓누르고, 땅을 향해 그대 몸을 구부러뜨리는 저 시간의 무서
											언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 그대의 어깨를 짓누르고, 땅을 향해 그대 몸을 구부러뜨리는 저 시간의 무서언제나 취해 있어야 한다. 모든 것이 거기에 있다. 그것이 유일한 문제다. 
											모든 것이 거기에 있다. 그것이 유일한 문제다.</dd>
											<dd class="Margin-0 Padding-top-5 Font-bold"><span class="Margin-right-20">글로벌 기획팀</span><span class="Margin-right-20">홍길동</span><span>2016.04.05</span></dd>
										</dl>
									</li>
									<li>
										<p class="Display-inblock"><img src="../images/content-img6.png" alt=""></p>
										<dl class="Display-inblock Width-75 Margin-left-30">
											<dt class="Header-5 Margin-bottom-10">[알파고 모멘텀 인사이트 셰어링] 이세돌 VS 알파고 세기의 대결은 무엇을 남겼나?</dt>
											<dd class="Margin-0">근간 화게자 되었던 알파고의 바둑 대결로 잠들어 있던 인공지능분야가 알파고 신드롬으로 재조명되었다. 이에 힘입어 관련분야 저명 인사들이 모여 토론하는 자리에 참석하게 되었다.
											회사에서 지원하는 참석인원은 제한적이었지만 학부시절부터 관심이 있었던 터라 바쁜 와중에도 선뜻 발걸음을 했다. 마음 바쁘게 도착한 KT스퀘어 드림홀에서는 토론자로 참여한
											바둑 6단 출신 인공지능전문가 김찬우 에이아이바둑 대표의 신사업 성공 조건의 설파가 한창이었다.</dd>
											<dd class="Margin-0 Padding-top-5 Font-bold"><span class="Margin-right-20">웹플렛폼팀</span><span class="Margin-right-20">고태호</span><span>2016.04.05</span></dd>
										</dl>
									</li>
								</ul>
								<div class="Clearboth Text-center Padding-top-40">
									<div class="Paging" data-totalpage="19">
									    <a class="Link Prev-group"><span>이전 그룹</span></a>
									    <a class="Link Prev"><span>이전</span></a>
									    <a class="Link">1</a>
									    <a class="Link">2</a>
									    <a class="Link">3</a>
									    <a class="Link Next"><span>다음</span></a>
									    <a class="Link Next-group"><span>다음 그룹</span></a>
									</div>
								</div>
						        <!-- //contents ui-paging end -->
						    </div>
						    <div id="tab2">
						        <strong>tab2</strong>
						        <p>
						        tab2 Contents
						        </p>
						    </div>
						    <div id="tab3">
						        <strong>tab3</strong>
						        <p>
						        tab3 Contents
						        </p>
						    </div>
						</div>
					</div>
				</div>
				<!-- //contents template end -->
				<!-- footer start -->
				<div class="Grid-sm-12 Margin-top-50 Padding-top-20 Padding-bottom-40" style="border-top: 1px solid #d8d8d8;">
					<div class="Grid-sm-6">
						<img class="Float-left" src="../images/sk-footer-logo.gif" alt="SK Holdings C&amp;C">
						<p class="Float-left Margin-left-40 Margin-top-20 Font-default Color-default">26, Jong-ro, Jongno-gu, Seoul, 03188, Republic of Korea<br>COPYRIGHT&copy;2015 BY SK HOLDINGS CO., LTD. ALL RIGHTS RESERVED</p>
					</div>
					<div class="Grid-sm-6 Text-right Margin-top-15">
						<ul class="Display-inblock List-style-none Font-default Margin-right-20">
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Terms and Conditions</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Privacy</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Sitemap</a></li>
						</ul>
						<select class="Display-inblock Select">
							<option>Family site</option>
						</select>
					</div>
				</div>
				<!-- //footer end -->
			</div>
		</div>
	</div>
</body>
</html>