<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Alopex UI/UX 표준 Template Popup</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script src="/2.3/demo/UI-basic-template/script/app/biz/include-lib.js"></script>
	<script src="/2.3/demo/UI-basic-template/script/app/biz/alopex-common.js"></script>
</head>
<body class="Margin-0 Padding-0">
	<div class="Width-100">
		<!-- header -->
		<div class="Bg-primary">
			<div style="width: 1170px; height: 45px; margin: 0 auto">
				<div class="Grid-sm-12">
					<h1 class="Float-left Header-5"><a href="../main/ui-main-portal.html" class="Color-white Text-none">Alopex UI/UX 표준 Template</a></h1>
					<ul class="Float-right Navmenu" style="z-index:101">
					    <li><a href="../main/ui-main-portal.html">Main Sample</a>
					        <ul>
					            <li><a href="../main/ui-main-portal.html">Portal 형</a></li>
					            <li><a href="../main/ui-main-workspace.html">Workspace 형</a></li>
					        </ul>
					    </li>
					    <li><a href="basic1.html">Basic Template</a>
					        <ul>
					            <li><a href="basic1.html">Basic Type</a>
					            	<ul>
					            		<li><a href="basic1.html">1 Grid board</a></li>
					            		<li><a href="basic2.html">Grid/Table/Tab 복합형</a></li>
					            	</ul>
					            </li>
					            <li><a href="board1.html">게시판형</a>
					                <ul>
					                	<li><a href="board1.html">2 Grid board</a></li>
					                	<li><a href="board2.html">Grid/Table 복합형</a></li>
					                	<li><a href="board3.html">Grid/Table/Tree</a></li>
					                	<li><a href="board4.html">Form/Chart 복합형</a></li>
					                </ul>
					            </li>
					            <li><a href="table1.html">테이블형</a>
					            	<ul>
					            		<li><a href="table1.html">Table 내 Table</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="dialog1.html">Dialog &amp; Popup</a>
					            	<ul>
					            		<li><a href="dialog1.html">Dialog</a></li>
					            		<li><a href="popup1.html">Popup</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="contents.html">컨텐츠</a>
					            	<ul>
					            		<li><a href="contents.html">컨텐츠 리스트형</a></li>
					            	</ul>
					            </li>
					        </ul>
					    </li>
					    <li><a href="object1.html">Object Template</a>
					    	<ul>
					    		<li><a href="object1.html">Accordion Template</a></li>
					    		<li><a href="object2.html">Button Template</a></li>
					    		<li><a href="object3.html">Carousel</a></li>
					    		<li><a href="object4.html">Paging</a></li>
					    		<li><a href="object5.html">Progress bar</a></li>
					    	</ul>
					    </li>
					    <li><a href="layout1.html">Layout Template</a>
					    	<ul>
					    		<li><a href="layout1.html">UI Grid Layout</a></li>
					    		<li><a href="layout2.html">Search Box Template</a>
					    		<li><a href="layout3.html">LNB Template</a></li>
					    		<li><a href="layout4.html">Static Contents</a></li>
					    		<li><a href="layout5.html">Footer Template</a></li>
					    		<li><a href="layout6.html">Error Template</a></li>
					    	</ul>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //header -->
		<div class="Grid-wrapper">
			<h3 class="Header-4 Padding-bottom-10" style="border-bottom: 1px solid #d8d8d8">Dialog Type : 일반, 컨텐츠형</h3>
			<!-- Main Sample Start-->
			<div class="Grid-sm-12">
				<!-- left start -->
				<div class="Grid-sm-3">
					<div class="Margin-right-30">
						<ul class="Accordion">
					        <li><a href="basic1.html">Basic Type</a>
				            	<ul>
				            		<li><a href="basic1.html">1 Grid board</a></li>
				            		<li><a href="basic2.html">Grid/Table/Tab 복합형</a></li>
				            	</ul>
				            </li>
				            <li><a href="board1.html">게시판형</a>
				                <ul>
				                	<li><a href="board1.html">2 Grid board</a></li>
				                	<li><a href="board2.html">Grid/Table 복합형</a></li>
				                	<li><a href="board3.html">Grid/Table/Tree</a></li>
				                	<li><a href="board4.html">Form/Chart 복합형</a></li>
				                </ul>
				            </li>
				            <li><a href="table1.html">테이블형</a>
				            	<ul>
				            		<li><a href="table1.html">Table 내 Table</a></li>
				            	</ul>
				            </li>
				            <li>
				            	<a href="dialog1.html">Dialog &amp; Popup</a>
					            	<ul>
					            		<li><a href="dialog1.html">Dialog</a></li>
					            		<li><a href="popup1.html">Popup</a></li>
					            	</ul>
				            </li>
				            <li>
				            	<a href="contents.html">컨텐츠</a>
				            	<ul>
				            		<li><a href="contents.html">컨텐츠 리스트형</a></li>
				            	</ul>
				            </li>
					    </ul>
				    </div>
				</div>
				<!-- //left end -->
				<!-- contents template start -->
				<div class="Grid-sm-9">
					<div class="Padding-bottom-30 Margin-bottom-20" style="border-bottom: 1px solid #d8d8d8">
						<h4 class="Float-left Margin-0">Title Content</h4>
						<div class="Float-right"><button class="Button Typeb">Button 01</button><button class="Margin-left-10 Button Typeb">Button 02</button></div>
					</div>
					
					<button id="button-dialog" class="Button">일반 Dialog</button>
					<button id="button-dialog-custom" class="Button">Dialog 커스텀 버튼</button>
					<button id="button-dialog-contents" class="Button">Dialog 컨텐츠형</button>
					
					<div id="div-dialog" class="Dialog" data-dialog-type="confirm" data-resizable="true">
						<div class="Dialog-contents">
							<p class="Text-center">정보를 입력해주세요.<br>여기에 일반 alert에 대한 내용이 들어갑니다.</p>
						</div>
					</div>
					
					
					<div id="div-dialog-custom" class="Dialog" data-dialog-type="blank" data-resizable="true">
						<div class="Dialog-contents">
							<p class="Text-center">정보를 입력해주세요.<br>여기에 일반 alert에 대한 내용이 들어갑니다.</p>
							
							<div class="Dialog-btnwrap">
								<button class="Button Extra Default">취소</button>
								<button class="Button Extra Warning">확인</button>
							</div>
						</div>
						
					</div>

					
					<div id="div-dialog-contents" class="Dialog" data-dialog-type="blank" data-resizable="true">
						<div class="Dialog-contents" data-dialog-scroll="true">
							<!-- form table -->
							<div class="Table-wrapper">
						        <table class="Table Form-type">
						            <colgroup>
						                <col style="width:100px"/>
						                <col />
						                <col style="width:100px"/>
						                <col />
						                <col style="width:80px"/>
						            </colgroup>
						            <tbody>
						                <tr>
						                    <th>항목</th>
						                    <td><select class="Select"><option>옵션을 선택해주세요</option></select></td>
						                    <th>체크박스</th>
						                	<td><label class="ImageCheckbox">
												    <input class="Checkbox" type="checkbox" name="chk1" value = "check1" checked="checked">
												    Checked
												</label>
												<label class="ImageCheckbox">
												    <input class="Checkbox" type="checkbox" name="chk2" value = "check2">
												    Unchecked
												</label>
											</td>
						                    <th rowspan="3"><button class="Button Warning">검색</button><button class="Button Default Margin-top-5">삭제</button></th>
						                </tr>
						                <tr>
											<th>항목</th>
											<td><select class="Select Margin-right-5"><option>All</option></select><input class="Textinput"></td>
											<th>검색</th>
											<td><label class="ImageRadio">
												    <input class="Radio" name="radio2" value="value1">radio1
												</label>
												<label class="ImageRadio">
												    <input class="Radio" name="radio2" value="value1">radio1
												</label>
											</td>
						                </tr>
						                <tr>
						                	<th>검색조건</th>
						                	<td><div class="Daterange">
												    <div class="Startdate Dateinput">
												        <input>
												    </div>
												    ~
												    <div class="Enddate Dateinput">
												        <input>
												    </div>
												</div>
											</td>
						                	<th>검색조건</th>
						                	<td>
						                		<input class="Textinput Margin-right-5" placeholder="검색어를 입력하세요"><button class="Button Onlyicon"><span class="Icon Search" data-position="top"></span></button>
						                	</td>
						                </tr>
						            </tbody>
						        </table>
							</div>
							<!-- //form table -->
							<div id="gr" class="Margin-top-20"></div>
							<div class="Dialog-btnwrap">
								<button class="Button Large">확인</button>
							</div>
						</div>
					</div>	
				</div>
				<!-- //contents template end -->
				
				<!-- footer start -->
				<div class="Grid-sm-12 Margin-top-50 Padding-top-20 Padding-bottom-40" style="border-top: 1px solid #d8d8d8;">
					<div class="Grid-sm-6">
						<img class="Float-left" src="../images/sk-footer-logo.gif" alt="SK Holdings C&amp;C">
						<p class="Float-left Margin-left-40 Margin-top-20 Font-default Color-default">26, Jong-ro, Jongno-gu, Seoul, 03188, Republic of Korea<br>COPYRIGHT&copy;2015 BY SK HOLDINGS CO., LTD. ALL RIGHTS RESERVED</p>
					</div>
					<div class="Grid-sm-6 Text-right Margin-top-15">
						<ul class="Display-inblock List-style-none Font-default Margin-right-20">
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Terms and Conditions</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Privacy</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Sitemap</a></li>
						</ul>
						<select class="Display-inblock Select">
							<option>Family site</option>
						</select>
					</div>
				</div>
				<!-- //footer end -->
			</div>
		</div>
	</div>
</body>
</html>