<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Alopex UI/UX 표준 Template Object</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script src="/2.3/demo/UI-basic-template/script/app/biz/include-lib.js"></script>
	<script src="/2.3/demo/UI-basic-template/script/app/biz/alopex-common.js"></script>
</head>
<body class="Margin-0 Padding-0">
	<div class="Width-100">
		<!-- header -->
		<div class="Bg-primary">
			<div style="width: 1170px; height: 45px; margin: 0 auto">
				<div class="Grid-sm-12">
					<h1 class="Float-left Header-5"><a href="../main/ui-main-portal.html" class="Color-white Text-none">Alopex UI/UX 표준 Template</a></h1>
					<ul class="Float-right Navmenu" style="z-index:101">
					    <li><a href="../main/ui-main-portal.html">Main Sample</a>
					        <ul>
					            <li><a href="../main/ui-main-portal.html">Portal 형</a></li>
					            <li><a href="../main/ui-main-workspace.html">Workspace 형</a></li>
					        </ul>
					    </li>
					    <li><a href="basic1.html">Basic Template</a>
					        <ul>
					            <li><a href="basic1.html">Basic Type</a>
					            	<ul>
					            		<li><a href="basic1.html">1 Grid board</a></li>
					            		<li><a href="basic2.html">Grid/Table/Tab 복합형</a></li>
					            	</ul>
					            </li>
					            <li><a href="board1.html">게시판형</a>
					                <ul>
					                	<li><a href="board1.html">2 Grid board</a></li>
					                	<li><a href="board2.html">Grid/Table 복합형</a></li>
					                	<li><a href="board3.html">Grid/Table/Tree</a></li>
					                	<li><a href="board4.html">Form/Chart 복합형</a></li>
					                </ul>
					            </li>
					            <li><a href="table1.html">테이블형</a>
					            	<ul>
					            		<li><a href="table1.html">Table 내 Table</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="dialog1.html">Dialog &amp; Popup</a>
					            	<ul>
					            		<li><a href="dialog1.html">Dialog</a></li>
					            		<li><a href="popup1.html">Popup</a></li>
					            	</ul>
					            </li>
					            <li>
					            	<a href="contents.html">컨텐츠</a>
					            	<ul>
					            		<li><a href="contents.html">컨텐츠 리스트형</a></li>
					            	</ul>
					            </li>
					        </ul>
					    </li>
					    <li><a href="object1.html">Object Template</a>
					    	<ul>
					    		<li><a href="object1.html">Accordion Template</a></li>
					    		<li><a href="object2.html">Button Template</a></li>
					    		<li><a href="object3.html">Carousel</a></li>
					    		<li><a href="object4.html">Paging</a></li>
					    		<li><a href="object5.html">Progress bar</a></li>
					    	</ul>
					    </li>
					    <li><a href="layout1.html">Layout Template</a>
					    	<ul>
					    		<li><a href="layout1.html">UI Grid Layout</a></li>
					    		<li><a href="layout2.html">Search Box Template</a>
					    		<li><a href="layout3.html">LNB Template</a></li>
					    		<li><a href="layout4.html">Static Contents</a></li>
					    		<li><a href="layout5.html">Footer Template</a></li>
					    		<li><a href="layout6.html">Error Template</a></li>
					    	</ul>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //header -->
		<div class="Grid-wrapper">
			<h3 class="Header-4 Padding-bottom-10" style="border-bottom: 1px solid #d8d8d8">Layout Template : Error Sample</h3>
			<!-- Main Sample Start-->
			<div class="Grid-sm-12">
				<!-- left start -->
				<div class="Grid-sm-3">
					<div class="Margin-right-30">
						<ul class="Accordion">
					        <li><a href="layout1.html">UI Grid Layout</a></li>
				    		<li><a href="layout2.html">Search Box Template</a>
				    		<li><a href="layout3.html">LNB Template</a></li>
				    		<li><a href="layout4.html">Static Contents</a></li>
				    		<li><a href="layout5.html">Footer Template</a></li>
				    		<li><a href="layout6.html">Error Template</a></li>
					    </ul>
				    </div>
				</div>
				<!-- //left end -->
				<!-- contents template start -->
				<div class="Grid-sm-9">
					<div class="Padding-bottom-10 Margin-bottom-20" style="border-bottom: 1px solid #d8d8d8">
						<h4 class="Margin-0">Error Sample</h4>
					</div>
					<div class="Panel">
						<div class="Panel-content">
							<h5 class="Font-default Margin-0"><span class="Icon Exclamation-sign Margin-right-5 Display-inblock"></span><span class="Display-inblock">Error Sample</span></h5>
							<br>Error Template은 에러메세지가 텍스트만으로 보여질 경우 / 이미지 아이콘과 텍스트를 함께 보여줄 경우 등 2가지의 예시로 보여줄 수 있으며 각 프로젝트별 디자인에 따라 형식은 달라질 수 있습니다. 
							아래 예제는 Alopex-ui로만 표현한 경우입니다.<br>
							아이콘 이미지와 에러 내용만 바꾸어서도 사용할 수 있으니 필요여부에 따라 사용해주면 됩니다.
						</div>
					</div>
					<h6 class="Clearboth Padding-bottom-15 Margin-0">404 Error Text Template</h6>
					<div class="Panel Text-center">
						<div class="Panel-content">
							<span class="Color-danger Header-3">404 Error</span>
							<p class="Font-default">이용에 불편을 드려 죄송합니다. <br>시스템에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.</p>
							<div class="Text-left Bg-default Color-white Font-default Width-40 Margin-auto">
								<ul class="Padding-top-10 Padding-bottom-10">
									<li>에러현상 : 404 page not found</li>
									<li>담당자명 : 홍길동</li>
									<li>담당자 연락처 : 010-0100-1010</li>
								</ul>
							</div>
						</div>
					</div>
					<h6 class="Clearboth Padding-bottom-15 Margin-0">404 Error Icon + Text Template</h6>
					<div class="Panel">
						<div class="Panel-content">
							<div class="Width-50 Margin-auto">
								<p class="Display-inblock Margin-right-10"><img src="../images/error-mesage.png"></p>
								<dl class="Display-inblock Text-left">
									<dt class="Font-bold Header-4 Margin-bottom-10">이용에 불편을 드려 죄송합니다.</dt>
									<dd class="Margin-0">시스템에 문제가 발생하였습니다.<br>담당자에게 문의하여 주시기 바랍니다.</dd>
								</dl>
							</div>
							<div class="Text-left Bg-default Color-white Font-default Width-50 Margin-auto">
								<ul class="Padding-top-10 Padding-bottom-10">
									<li>에러현상 : 404 page not found</li>
									<li>담당자명 : 홍길동</li>
									<li>담당자 연락처 : 010-0100-1010</li>
								</ul>
							</div>
							<div class="Text-center Margin-top-20">
								<button class="Button">이전페이지</button><button class="Margin-left-10 Button Danger">홈으로</button>
							</div>
						</div>
					</div>
				</div>
				<!-- //two table end -->
				<!-- //contents template end -->
				<!-- footer start -->
				<div class="Grid-sm-12 Margin-top-50 Padding-top-20 Padding-bottom-40" style="border-top: 1px solid #d8d8d8;">
					<div class="Grid-sm-6">
						<img class="Float-left" src="../images/sk-footer-logo.gif" alt="SK Holdings C&amp;C">
						<p class="Float-left Margin-left-40 Margin-top-20 Font-default Color-default">26, Jong-ro, Jongno-gu, Seoul, 03188, Republic of Korea<br>COPYRIGHT&copy;2015 BY SK HOLDINGS CO., LTD. ALL RIGHTS RESERVED</p>
					</div>
					<div class="Grid-sm-6 Text-right Margin-top-15">
						<ul class="Display-inblock List-style-none Font-default Margin-right-20">
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Terms and Conditions</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Privacy</a> | </li>
							<li class="Display-inblock"><a href="#0" class="Color-default Text-none">Sitemap</a></li>
						</ul>
						<select class="Display-inblock Select">
							<option>Family site</option>
						</select>
					</div>
				</div>
				<!-- //footer end -->
			</div>
		</div>
	</div>
</body>
</html>